# üéì 2Îã®Í≥Ñ: Îç∞Ïù¥ÌÑ∞ÏÖã ÌÉêÏÉâ

PySCFabSimÏùò Îç∞Ïù¥ÌÑ∞ÏÖã ÌååÏùºÎì§ÏùÑ PandasÎ°ú Î∂ÑÏÑùÌï¥Î¥ÖÏãúÎã§!

In [2]:
import pandas as pd
import os

# Îç∞Ïù¥ÌÑ∞ÏÖã Í≤ΩÎ°ú
dataset_path = 'datasets/SMT2020_HVLM/'

## üìÅ 1. Ïñ¥Îñ§ ÌååÏùºÎì§Ïù¥ ÏûàÎÇòÏöî?

In [3]:
# Îç∞Ïù¥ÌÑ∞ÏÖã ÎîîÎ†âÌÜ†Î¶¨Ïùò Î™®Îì† ÌååÏùº Î™©Î°ù
files = os.listdir(dataset_path)
print("Îç∞Ïù¥ÌÑ∞ÏÖã ÌååÏùº Î™©Î°ù:")
for f in sorted(files):
    file_size = os.path.getsize(os.path.join(dataset_path, f))
    print(f"  - {f:20s} ({file_size:,} bytes)")

Îç∞Ïù¥ÌÑ∞ÏÖã ÌååÏùº Î™©Î°ù:
  - WIP.txt              (182,451 bytes)
  - attach.txt           (16,077 bytes)
  - downcal.txt          (940 bytes)
  - fromto.txt           (68 bytes)
  - order.txt            (576 bytes)
  - part.txt             (121 bytes)
  - pmcal.txt            (20,785 bytes)
  - route_3.txt          (58,291 bytes)
  - route_4.txt          (33,804 bytes)
  - setup.txt            (436 bytes)
  - setupgrp.txt         (241 bytes)
  - tool.txt.1l          (19,084 bytes)

## üè≠ 2. tool.txt.1l - Î®∏Ïã†(Ïû•ÎπÑ) Ï†ïÎ≥¥

Ïñ¥Îñ§ Î®∏Ïã†Îì§Ïù¥ ÏûàÎäîÏßÄ ÏÇ¥Ìé¥Î¥ÖÏãúÎã§.

In [4]:
# tool.txt.1l ÌååÏùº ÏùΩÍ∏∞ (ÌÉ≠ÏúºÎ°ú Íµ¨Î∂Ñ)
df_tool = pd.read_csv(dataset_path + 'tool.txt.1l', sep='\t')

print(f"Ï¥ù {len(df_tool)}Í∞úÏùò Î®∏Ïã† ÌÉÄÏûÖÏù¥ ÏûàÏäµÎãàÎã§.\n")
print("Ï≤òÏùå 10Í∞ú Ìñâ:")
df_tool.head(10)

Ï¥ù 106Í∞úÏùò Î®∏Ïã† ÌÉÄÏûÖÏù¥ ÏûàÏäµÎãàÎã§.

Ï≤òÏùå 10Í∞ú Ìñâ:

,STNFAM,STN,RULE,FWLRANK,WAKERESRANK,BATCHCRITF,BATCHPER,LTIME,LTUNITS,ULTIME,ULTUNITS,STNCAP,STNQTY,STNGRP,STNFAMSTEP_ACTLIST,STNFAMLOC,PRERULERWL,SETUPGRP
0,DE_BE_11,DE_BE_11,rule_HotLotFIRST,rank_HP;rank_RSETUP;rank_FIFO,NaN,NaN,NaN,1.0,min,1.0,min,NaN,10.0,Dry_Etch,Custom_actlist_ASISemiOpersDuringSetupAndAddit...,Fab,no,NaN
1,DE_BE_12,DE_BE_12,rule_HotLotFIRST,rank_HP;rank_RSETUP;rank_FIFO,NaN,NaN,NaN,1.0,min,1.0,min,NaN,9.0,Dry_Etch,Custom_actlist_ASISemiOpersDuringSetupAndAddit...,Fab,no,NaN
2,DE_BE_13,DE_BE_13,rule_HotLotFIRST,rank_HP;rank_RSETUP;rank_FIFO,wake_LeastSetupTime,NaN,NaN,1.0,min,1.0,min,NaN,21.0,Dry_Etch,Custom_actlist_ASISemiOpersDuringSetupAndAddit...,Fab,no,NaN
3,DE_BE_48,DE_BE_48,rule_HotLotFIRST,rank_HP;rank_RSETUP;rank_FIFO,NaN,NaN,NaN,1.0,min,1.0,min,NaN,10.0,Dry_Etch,Custom_actlist_ASISemiOpersDuringSetupAndAddit...,Fab,no,NaN
4,DE_BE_50,DE_BE_50,rule_HotLotFIRST,rank_HP;rank_RSETUP;rank_FIFO,NaN,NaN,NaN,1.0,min,1.0,min,NaN,9.0,Dry_Etch,Custom_actlist_ASISemiOpersDuringSetupAndAddit...,Fab,no,NaN
5,DE_BE_65,DE_BE_65,rule_HotLotFIRST,rank_HP;rank_RSETUP;rank_FIFO,NaN,NaN,NaN,1.0,min,1.0,min,NaN,17.0,Dry_Etch,Custom_actlist_ASISemiOpersDuringSetupAndAddit...,Fab,no,NaN
6,DE_BE_66,DE_BE_66,rule_HotLotFIRST,rank_HP;rank_RSETUP;rank_FIFO,wake_LeastSetupTime,NaN,NaN,1.0,min,1.0,min,NaN,19.0,Dry_Etch,Custom_actlist_ASISemiOpersDuringSetupAndAddit...,Fab,no,NaN
7,DE_BE_67,DE_BE_67,rule_HotLotFIRST,rank_HP;rank_RSETUP;rank_FIFO,NaN,NaN,NaN,1.0,min,1.0,min,NaN,10.0,Dry_Etch,Custom_actlist_ASISemiOpersDuringSetupAndAddit...,Fab,no,NaN
8,DE_BE_69,DE_BE_69,rule_HotLotFIRST,rank_HP;rank_RSETUP;rank_FIFO,NaN,NaN,NaN,1.0,min,1.0,min,NaN,2.0,Dry_Etch,Custom_actlist_ASISemiOpersDuringSetupAndAddit...,Fab,no,NaN
9,DE_FE_1,DE_FE_1,rule_HotLotFIRST,rank_HP;rank_RSETUP;rank_FIFO,NaN,NaN,NaN,1.0,min,1.0,min,NaN,7.0,Dry_Etch,Custom_actlist_ASISemiOpersDuringSetupAndAddit...,Fab,no,NaN

In [5]:
# Ï£ºÏöî Ïª¨ÎüºÎßå Î≥¥Í∏∞
df_tool[['STNFAM', 'STNQTY', 'STNGRP', 'STNFAMLOC']].head(10)

     STNFAM  STNQTY    STNGRP STNFAMLOC
0  DE_BE_11    10.0  Dry_Etch       Fab
1  DE_BE_12     9.0  Dry_Etch       Fab
2  DE_BE_13    21.0  Dry_Etch       Fab
3  DE_BE_48    10.0  Dry_Etch       Fab
4  DE_BE_50     9.0  Dry_Etch       Fab
5  DE_BE_65    17.0  Dry_Etch       Fab
6  DE_BE_66    19.0  Dry_Etch       Fab
7  DE_BE_67    10.0  Dry_Etch       Fab
8  DE_BE_69     2.0  Dry_Etch       Fab
9   DE_FE_1     7.0  Dry_Etch       Fab

In [6]:
# Ï¥ù Î®∏Ïã† Ïàò Í≥ÑÏÇ∞
total_machines = df_tool['STNQTY'].sum()
print(f"\nÏ†ÑÏ≤¥ Î®∏Ïã† Ïàò: {total_machines:.0f}ÎåÄ")

# Í∑∏Î£πÎ≥Ñ Î®∏Ïã† Ïàò
print("\nÍ∑∏Î£πÎ≥Ñ Î®∏Ïã† Ïàò:")
df_tool.groupby('STNGRP')['STNQTY'].sum().sort_values(ascending=False)

Ï†ÑÏ≤¥ Î®∏Ïã† Ïàò: 1443ÎåÄ

Í∑∏Î£πÎ≥Ñ Î®∏Ïã† Ïàò:

STNGRP
Delay_32      400.0
Dry_Etch      362.0
Litho         203.0
Wet_Etch      112.0
TF             90.0
Diffusion      75.0
Dielectric     59.0
Litho_Met      53.0
Implant        35.0
Planar         34.0
Def_Met        16.0
TF_Met          4.0
Name: STNQTY, dtype: float64

## üìã 3. order.txt - Ï£ºÎ¨∏ Ï†ïÎ≥¥

Ïñ¥Îñ§ Ï†úÌíàÏùÑ ÏñºÎßàÎÇò ÎßåÎì§Ïñ¥Ïïº ÌïòÎäîÏßÄ Î¥ÖÏãúÎã§.

In [20]:
# order.txt ÌååÏùº ÏùΩÍ∏∞
df_order = pd.read_csv(dataset_path + 'order.txt', sep='\t')

print(f"Ï¥ù {len(df_order)}Í∞úÏùò Ï£ºÎ¨∏Ïù¥ ÏûàÏäµÎãàÎã§.\n")
df_order.head(10)

Ï¥ù 5Í∞úÏùò Ï£ºÎ¨∏Ïù¥ ÏûàÏäµÎãàÎã§.

,LOT,PART,PRIOR,PIECES,START,RDIST,REPEAT,RUNITS,RPT#,LOTSPERRPT,DUE,ORDER,HOTLOT
0,Lot_3,part_3,10,25,01/01/18 00:00:00,constant,51.69,min,200000,1,02/23/18 20:07:47,O_Lot_3,no
1,Lot_4,part_4,10,25,01/01/18 00:00:00,constant,51.69,min,200000,1,01/31/18 07:29:20,O_Lot_4,no
2,HotLot_3,part_3,20,25,01/01/18 00:00:00,constant,2016.00,min,20000,1,02/03/18 07:59:15,O_HotLot_3,no
3,HotLot_4,part_4,20,25,01/01/18 00:00:00,constant,2016.00,min,20000,1,01/20/18 13:17:36,O_HotLot_4,no
4,SuperHotLot_3,part_3,30,25,01/01/18 00:00:00,constant,27397.61,min,2000,1,02/03/18 05:13:01,O_SuperHotLot_3,no

In [8]:
# Ï£ºÏöî Ï†ïÎ≥¥Îßå Î≥¥Í∏∞
df_order[['PART', 'PRIOR', 'RPT#', 'PIECES', 'START', 'DUE']].head(10)

     PART  PRIOR    RPT#  PIECES              START                DUE
0  part_3     10  200000      25  01/01/18 00:00:00  02/23/18 20:07:47
1  part_4     10  200000      25  01/01/18 00:00:00  01/31/18 07:29:20
2  part_3     20   20000      25  01/01/18 00:00:00  02/03/18 07:59:15
3  part_4     20   20000      25  01/01/18 00:00:00  01/20/18 13:17:36
4  part_3     30    2000      25  01/01/18 00:00:00  02/03/18 05:13:01

In [9]:
# Ïö∞ÏÑ†ÏàúÏúÑÎ≥Ñ Ï£ºÎ¨∏ Ïàò
print("Ïö∞ÏÑ†ÏàúÏúÑÎ≥Ñ Ï£ºÎ¨∏ Í∞úÏàò:")
df_order['PRIOR'].value_counts().sort_index()

Ïö∞ÏÑ†ÏàúÏúÑÎ≥Ñ Ï£ºÎ¨∏ Í∞úÏàò:

PRIOR
10    2
20    2
30    1
Name: count, dtype: int64

In [10]:
# Ï†úÌíàÎ≥Ñ Ï¥ù ÏÉùÏÇ∞ ÏàòÎüâ (RPT# * PIECES)
df_order['total_pieces'] = df_order['RPT#'] * df_order['PIECES']

print("\nÏ†úÌíàÎ≥Ñ Ï¥ù ÏÉùÏÇ∞ ÏàòÎüâ:")
df_order.groupby('PART')['total_pieces'].sum().sort_values(ascending=False)

Ï†úÌíàÎ≥Ñ Ï¥ù ÏÉùÏÇ∞ ÏàòÎüâ:

PART
part_3    5550000
part_4    5500000
Name: total_pieces, dtype: int64

## üõ£Ô∏è 4. route_3.txt, route_4.txt - Ï†úÏ°∞ Í≤ΩÎ°ú

Í∞Å Ï†úÌíàÏù¥ Í±∞Ï≥êÏïº Ìï† Í≥µÏ†ï Îã®Í≥ÑÎì§ÏùÑ Î¥ÖÏãúÎã§.

In [11]:
# route_3.txt ÏùΩÍ∏∞
df_route3 = pd.read_csv(dataset_path + 'route_3.txt', sep='\t')

print(f"route_3.txt: {len(df_route3)}Í∞úÏùò Ïä§ÌÖù\n")
df_route3.head(10)

route_3.txt: 583Í∞úÏùò Ïä§ÌÖù

,ROUTE,STEP,DESC,STNFAM,PDIST,PTIME,PTIME2,PTUNITS,PTPER,BATCHMN,...,PartInterval,PartIntUnits,RWKSTEP,REWORK,RWKTYPE,StepPercent,STEP_CQT,CQT,CQTUNITS,IGNORE
0,r_3,1,001_Diffusion,Diffusion_FE_120,uniform,501.330,25.0665,min,per_batch,125.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diffusion
1,r_3,2,002_Wet_Etch,WE_FE_84,uniform,0.852,0.0426,min,per_piece,NaN,...,0.6390,min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wet_Etch
2,r_3,3,003_Def_Met,DefMEt_FE_118,uniform,17.994,0.8997,min,per_lot,NaN,...,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN,NaN,Def_Met
3,r_3,4,007_TF_Met,TF_Met_FE_45,uniform,8.514,0.4257,min,per_lot,NaN,...,NaN,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,TF_Met
4,r_3,5,008_Diffusion,Diffusion_FE_127,uniform,437.580,21.8790,min,per_batch,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diffusion
5,r_3,6,009_Def_Met,DefMEt_FE_118,uniform,23.658,1.1829,min,per_lot,NaN,...,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,Def_Met
6,r_3,7,010_TF_Met,TF_Met_FE_45,uniform,9.804,0.4902,min,per_lot,NaN,...,NaN,NaN,NaN,NaN,NaN,39.0,NaN,NaN,NaN,TF_Met
7,r_3,8,011_Wet_Etch,WE_FE_108,uniform,0.990,0.0495,min,per_piece,NaN,...,0.7425,min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wet_Etch
8,r_3,9,012_Wet_Etch,WE_FE_83,uniform,1.038,0.0519,min,per_piece,NaN,...,0.7785,min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wet_Etch
9,r_3,10,013_Wet_Etch,WE_FE_84,uniform,0.900,0.0450,min,per_piece,NaN,...,0.6750,min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wet_Etch

In [13]:
# Ï£ºÏöî Ïª¨ÎüºÎßå Î≥¥Í∏∞
df_route3[['STEP', 'DESC', 'STNFAM', 'PTIME', 'PTUNITS']].head(15)

    STEP           DESC             STNFAM    PTIME PTUNITS
0      1  001_Diffusion   Diffusion_FE_120  501.330     min
1      2   002_Wet_Etch           WE_FE_84    0.852     min
2      3    003_Def_Met      DefMEt_FE_118   17.994     min
3      4     007_TF_Met       TF_Met_FE_45    8.514     min
4      5  008_Diffusion   Diffusion_FE_127  437.580     min
5      6    009_Def_Met      DefMEt_FE_118   23.658     min
6      7     010_TF_Met       TF_Met_FE_45    9.804     min
7      8   011_Wet_Etch          WE_FE_108    0.990     min
8      9   012_Wet_Etch           WE_FE_83    1.038     min
9     10   013_Wet_Etch           WE_FE_84    0.900     min
10    11      014_Litho  LithoTrack_FE_115    2.172     min
11    12      015_Litho  LithoTrack_FE_115    2.676     min
12    13      016_Litho        Litho_FE_92    2.640     min
13    14  017_Litho_Met     LithoMet_FE_19   28.104     min
14    15  018_Litho_Met    Litho_REG_FE_64   25.272     min

In [14]:
# route_4.txt ÏùΩÍ∏∞
df_route4 = pd.read_csv(dataset_path + 'route_4.txt', sep='\t')

print(f"route_4.txt: {len(df_route4)}Í∞úÏùò Ïä§ÌÖù\n")
df_route4[['STEP', 'DESC', 'STNFAM', 'PTIME', 'PTUNITS']].head(15)

route_4.txt: 343Í∞úÏùò Ïä§ÌÖù

    STEP           DESC             STNFAM    PTIME PTUNITS
0      1  001_Diffusion   Diffusion_FE_120  501.330     min
1      2   002_Wet_Etch           WE_FE_84    0.852     min
2      3    003_Def_Met      DefMEt_FE_118   17.994     min
3      4  004_Diffusion   Diffusion_FE_125  440.400     min
4      5   005_Wet_Etch           WE_FE_84    1.140     min
5      6    006_Def_Met      DefMEt_FE_118   29.880     min
6      7     007_TF_Met       TF_Met_FE_45    8.514     min
7      8  008_Diffusion   Diffusion_FE_127  437.580     min
8      9    009_Def_Met      DefMEt_FE_118   23.658     min
9     10     010_TF_Met       TF_Met_FE_45    9.804     min
10    11   011_Wet_Etch          WE_FE_108    0.990     min
11    12   012_Wet_Etch           WE_FE_83    1.038     min
12    13   013_Wet_Etch           WE_FE_84    0.900     min
13    14      014_Litho  LithoTrack_FE_115    2.172     min
14    15      015_Litho  LithoTrack_FE_115    2.676     min

In [ ]:
# route_3ÏóêÏÑú ÏÇ¨Ïö©ÎêòÎäî Î®∏Ïã† Ìå®Î∞ÄÎ¶¨
print("route_3ÏóêÏÑú ÏÇ¨Ïö©ÌïòÎäî Î®∏Ïã† Ìå®Î∞ÄÎ¶¨:")
print(df_route3['STNFAM'].unique())

## ‚öôÔ∏è 5. setup.txt - Setup ÏãúÍ∞Ñ

In [15]:
# setup.txt ÏùΩÍ∏∞
df_setup = pd.read_csv(dataset_path + 'setup.txt', sep='\t')

print(f"Ï¥ù {len(df_setup)}Í∞úÏùò setup Ï†ÑÌôò\n")
df_setup.head(10)

Ï¥ù 13Í∞úÏùò setup Ï†ÑÌôò

     CURSETUP    NEWSETUP  STIME STUNITS       IGNORE
0  DE_BE_13_1  DE_BE_13_2      7     min     DE_BE_13
1  DE_BE_13_2  DE_BE_13_1     12     min     DE_BE_13
2  DE_BE_66_1  DE_BE_66_2     15     min     DE_BE_66
3  DE_BE_66_2  DE_BE_66_1     10     min     DE_BE_66
4         NaN     SU128_1     72     min  Implant_128
5         NaN     SU128_2     72     min  Implant_128
6         NaN     SU128_3     72     min  Implant_128
7         NaN     SU132_1     60     min  Implant_132
8         NaN     SU132_2     60     min  Implant_132
9         NaN     SU132_3     60     min  Implant_132

In [16]:
# Setup ÏãúÍ∞Ñ ÌÜµÍ≥Ñ
print("Setup ÏãúÍ∞Ñ ÌÜµÍ≥Ñ (Î∂Ñ):")
df_setup['STIME'].describe()

Setup ÏãúÍ∞Ñ ÌÜµÍ≥Ñ (Î∂Ñ):

count    13.000000
mean     52.307692
std      29.581482
min       7.000000
25%      15.000000
50%      60.000000
75%      72.000000
max      80.000000
Name: STIME, dtype: float64

## üîÑ 6. WIP.txt - ÏßÑÌñâ Ï§ëÏù∏ ÏûëÏóÖ

In [17]:
# WIP.txt ÏùΩÍ∏∞
df_wip = pd.read_csv(dataset_path + 'WIP.txt', sep='\t')

print(f"ÏãúÎÆ¨Î†àÏù¥ÏÖò ÏãúÏûë Ïãú ÏßÑÌñâ Ï§ëÏù∏ ÏûëÏóÖ: {len(df_wip)}Í∞ú\n")
df_wip.head(10)

ÏãúÎÆ¨Î†àÏù¥ÏÖò ÏãúÏûë Ïãú ÏßÑÌñâ Ï§ëÏù∏ ÏûëÏóÖ: 2255Í∞ú

,LOT,PART,PRIOR,PIECES,START,CURSTEP,DUE,ORDER,HOTLOT,TRACE
0,Init_Lot_3_2,part_3,10,25,01/01/18 00:00:00,560,01/02/18 06:19:32,O_Init_WIP,NaN,NaN
1,Init_Lot_3_3,part_3,10,25,01/01/18 00:00:00,575,01/02/18 08:54:36,O_Init_WIP,NaN,NaN
2,Init_Lot_3_4,part_3,10,25,01/01/18 00:00:00,538,01/03/18 03:51:47,O_Init_WIP,NaN,NaN
3,Init_Lot_3_5,part_3,10,25,01/01/18 00:00:00,581,01/03/18 06:26:51,O_Init_WIP,NaN,NaN
4,Init_Lot_3_6,part_3,10,25,01/01/18 00:00:00,556,01/03/18 08:10:14,O_Init_WIP,NaN,NaN
5,Init_HotLot_3_1,part_3,20,25,01/01/18 00:00:00,553,01/03/18 11:25:38,O_Init_WIP,NaN,NaN
6,Init_Lot_3_7,part_3,10,25,01/01/18 00:00:00,560,01/03/18 15:03:45,O_Init_WIP,NaN,NaN
7,Init_Lot_3_8,part_3,10,25,01/01/18 00:00:00,564,01/03/18 16:47:08,O_Init_WIP,NaN,NaN
8,Init_Lot_3_9,part_3,10,25,01/01/18 00:00:00,568,01/03/18 18:30:31,O_Init_WIP,NaN,NaN
9,Init_Lot_3_10,part_3,10,25,01/01/18 00:00:00,577,01/04/18 03:07:25,O_Init_WIP,NaN,NaN

In [18]:
# Ï£ºÏöî Ï†ïÎ≥¥
df_wip[['PART', 'PRIOR', 'CURSTEP', 'PIECES', 'DUE']].head(10)

     PART  PRIOR  CURSTEP  PIECES                DUE
0  part_3     10      560      25  01/02/18 06:19:32
1  part_3     10      575      25  01/02/18 08:54:36
2  part_3     10      538      25  01/03/18 03:51:47
3  part_3     10      581      25  01/03/18 06:26:51
4  part_3     10      556      25  01/03/18 08:10:14
5  part_3     20      553      25  01/03/18 11:25:38
6  part_3     10      560      25  01/03/18 15:03:45
7  part_3     10      564      25  01/03/18 16:47:08
8  part_3     10      568      25  01/03/18 18:30:31
9  part_3     10      577      25  01/04/18 03:07:25

## üìä 7. Ï¢ÖÌï© Î∂ÑÏÑù

In [19]:
print("=" * 60)
print("üìä SMT2020_HVLM Îç∞Ïù¥ÌÑ∞ÏÖã ÏöîÏïΩ")
print("=" * 60)
print(f"\nüè≠ Î®∏Ïã†:")
print(f"  - Î®∏Ïã† ÌÉÄÏûÖ Ïàò: {len(df_tool)}Í∞ú")
print(f"  - Ï¥ù Î®∏Ïã† Ïàò: {df_tool['STNQTY'].sum():.0f}ÎåÄ")
print(f"  - Î®∏Ïã† Í∑∏Î£π Ïàò: {df_tool['STNGRP'].nunique()}Í∞ú")

print(f"\nüìã Ï£ºÎ¨∏:")
print(f"  - Ï£ºÎ¨∏ Ïàò: {len(df_order)}Í∞ú")
print(f"  - Ï†úÌíà Ï¢ÖÎ•ò: {df_order['PART'].nunique()}Í∞ú")
print(f"  - Ïö∞ÏÑ†ÏàúÏúÑ Î†àÎ≤®: {sorted(df_order['PRIOR'].unique())}")

print(f"\nüõ£Ô∏è Ï†úÏ°∞ Í≤ΩÎ°ú:")
print(f"  - route_3 Ïä§ÌÖù Ïàò: {len(df_route3)}Í∞ú")
print(f"  - route_4 Ïä§ÌÖù Ïàò: {len(df_route4)}Í∞ú")

print(f"\n‚öôÔ∏è Setup:")
print(f"  - Setup Ï†ÑÌôò Ïàò: {len(df_setup)}Í∞ú")
print(f"  - ÌèâÍ∑† setup ÏãúÍ∞Ñ: {df_setup['STIME'].mean():.2f}Î∂Ñ")

print(f"\nüîÑ WIP:")
print(f"  - ÏãúÏûë Ïãú ÏßÑÌñâ Ï§ë ÏûëÏóÖ: {len(df_wip)}Í∞ú")
print("=" * 60)

============================================================
üìä SMT2020_HVLM Îç∞Ïù¥ÌÑ∞ÏÖã ÏöîÏïΩ
============================================================

üè≠ Î®∏Ïã†:
  - Î®∏Ïã† ÌÉÄÏûÖ Ïàò: 106Í∞ú
  - Ï¥ù Î®∏Ïã† Ïàò: 1443ÎåÄ
  - Î®∏Ïã† Í∑∏Î£π Ïàò: 12Í∞ú

üìã Ï£ºÎ¨∏:
  - Ï£ºÎ¨∏ Ïàò: 5Í∞ú
  - Ï†úÌíà Ï¢ÖÎ•ò: 2Í∞ú
  - Ïö∞ÏÑ†ÏàúÏúÑ Î†àÎ≤®: [np.int64(10), np.int64(20), np.int64(30)]

üõ£Ô∏è Ï†úÏ°∞ Í≤ΩÎ°ú:
  - route_3 Ïä§ÌÖù Ïàò: 583Í∞ú
  - route_4 Ïä§ÌÖù Ïàò: 343Í∞ú

‚öôÔ∏è Setup:
  - Setup Ï†ÑÌôò Ïàò: 13Í∞ú
  - ÌèâÍ∑† setup ÏãúÍ∞Ñ: 52.31Î∂Ñ

üîÑ WIP:
  - ÏãúÏûë Ïãú ÏßÑÌñâ Ï§ë ÏûëÏóÖ: 2255Í∞ú
============================================================

## üí° Ïó∞Ïäµ Î¨∏Ï†ú

Ïù¥Ï†ú Îç∞Ïù¥ÌÑ∞Î•º ÏßÅÏ†ë ÌÉêÏÉâÌï¥Î≥¥ÏÑ∏Ïöî:

1. **fromto.txt** ÌååÏùºÏùÑ ÏùΩÏñ¥ÏÑú ÌèâÍ∑† Ïù¥Îèô ÏãúÍ∞ÑÏùÑ Í≥ÑÏÇ∞Ìï¥Î≥¥ÏÑ∏Ïöî
2. **attach.txt** ÌååÏùºÏùÑ ÏùΩÏñ¥ÏÑú Ïñ¥Îñ§ Î®∏Ïã†Îì§Ïóê Í≥†Ïû•/Ï†ïÎπÑÍ∞Ä ÏÑ§Ï†ïÎêòÏñ¥ ÏûàÎäîÏßÄ ÌôïÏù∏Ìï¥Î≥¥ÏÑ∏Ïöî
3. **part.txt** ÌååÏùºÏùÑ ÏùΩÏñ¥ÏÑú Ï†úÌíàÍ≥º Í≤ΩÎ°úÏùò Îß§ÌïëÏùÑ ÌôïÏù∏Ìï¥Î≥¥ÏÑ∏Ïöî

In [ ]:
# Ïó¨Í∏∞Ïóê ÏßÅÏ†ë ÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Î≥¥ÏÑ∏Ïöî!